.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-s);
    padding: var(--spacing-s) var(--spacing-xl);
    border-radius: 1000px;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 6%;
    border: none;
    font: inherit;
}

.btn-primary {
    background-color: var(--button-primary-default-color);
    color: var(--text-primary-color);
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: var(--button-primary-hover-color);
}

.btn-primary:active {
    background-color: var(--button-primary-pressed-color);
}

.btn-primary:disabled {
    background-color: var(--button-primary-disabled-color);
    color: var(--text-textAccent-color-number);
}

.btn-secondary {
    background-color: var(--button-secondary-color);
    color: var(--text-primary-color);
    transition: 0.3s;
}

.btn-secondary:hover {
    background-color: var(--button-secondary-hover-color);
}

.btn-secondary:active {
    background-color: var(--button-secondary-active-color);
}

.btn-secondary:disabled {
    background-color: var(--button-secondary-disabled-color);
}

/*/header/*/

.header__button {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-xs);

    @media (max-width: 362px) {
            padding: 14px 18px;
    }
}

/*/burger/*/

.header__burger-menu-btn {
    display: none;

    @media (max-width: 928px) {
        display: block;
        appearance: none;
        border: none;
        background: transparent;
        padding: 0;
        margin-right: var(--spacing-xs);
        cursor: pointer;
    }
}

.header__burger-line {
    box-sizing: border-box;
    background-color: transparent;
    text-align: center;
}

.header__burger-menu-btn .header__burger-line {
    display: none;

    @media (max-width: 928px) {
        width: 20px;
        height: 2px;
        background-color: var(--text-primary-color);
        border-radius: 9px;
        display: block;
        margin: 6px auto;
        padding: 0;
        transition: all 0.3s ease-in-out;
    }
}

.header__burger-menu-btn:hover {
    cursor: pointer;
}

.header__burger-menu-btn.is-active .header__burger-line:nth-child(2) {
    opacity: 0;
}

.header__burger-menu-btn.is-active .header__burger-line:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
}

.header__burger-menu-btn.is-active .header__burger-line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}

/*/hero/*/

.hero__button-secondary {
    margin-right: var(--spacing-3xs);
    @media (max-width: 463px) {
        width: 100%;
        margin-bottom: var(--spacing-3xs);
    }
}

.hero__button-primary {
    @media (max-width: 463px) {
        width: 100%;
    }
}

/*/about/*/

.about__button-item {
    padding: var(--spacing-s) var(--spacing-m);
    margin: var(--spacing-xl) 0 0;
    gap: var(--gap-s);

    @media (max-width: 1024px) {
        margin: 0;
    }

    @media (max-width: 830px) {
        margin: var(--spacing-xl) 0 0;
    }
}

/*/services/*/

.services__button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services__button-item {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-s) var(--spacing-4xl);
    gap: var(--gap-s);
    font-size: var(--font-size-xs);
}

/*/facilities/*/

.facilities__button {
    display: flex;
    margin: 0 auto;
    border-radius: 1000px;
    padding-top: var(--spacing-3xs);
}

.facilities__button-item {
    padding: var(--spacing-s) var(--spacing-m);
    gap: var(--gap-s);
    font-size: var(--font-size-xs);
}

/*/contact/*/

.contact__button-wrapper {
    display: flex;
    margin: 0 0 186px;
    border-radius: 1000px;

    @media (max-width: 1024px) {
        margin: 0 0 var(--spacing-xl);
    }

    @media (max-width: 830px) {
        margin: 0 0 var(--spacing-m);
    }
}

.contact__button {
    padding: var(--spacing-s) var(--spacing-m);
    gap: var(--gap-s);
    font-size: var(--font-size-xs);

    @media (max-width: 830px) {
        width: 100%;
    }
}