<section class="about" id="about">
    <div class="about__wrapper container">
        <div class="about__images">
            <img class="about__image-back"
                 width="414"
                 height="506"
                 src="src/img/about/image-back.webp"
                 alt="Woman practicing yoga on a mat outdoors">
            <img class="about__image-front"
                 width="414"
                 height="506"
                 src="src/img/about/image-front.webp"
                 alt="Woman rolling out a yoga mat">
        </div>
        <div class="about__text">
            <span class="about__subtitle">ABOUT US</span>

            <h2 class="about__title typography-h2">
                Achieve Your Fitness Goals With Personalized Workout Programs Designed
            </h2>
            <div class="about__images-mobile">
                <img class="about__image-mobile-back"
                     width="414"
                     height="506"
                     src="src/img/about/image-back.webp"
                     alt="Woman practicing yoga on a mat outdoors">
                <img class="about__image-mobile-front"
                     width="414"
                     height="506"
                     src="src/img/about/image-front.webp"
                     alt="Woman rolling out a yoga mat">
            </div>
            <p class="about__description typography-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua.
            </p>
            <div class="about__button">
                <a class="about__button-item btn btn-secondary" href="#">
                    DISCOVER ALL SERVICES
                </a>
            </div>
        </div>
    </div>
</section>