<section class="about" id="about">
    <div class="about__wrapper container">
        <div class="about-images">
            <img class="about__image-back"
                 src="src/img/about/image-back.jpg"
                 alt="Woman practicing yoga on a mat outdoors">
            <img class="about__image-front"
                 src="src/img/about/image-front.jpg"
                 alt="Woman rolling out a yoga mat">
        </div>
        <div class="about-text">
            <span class="about__subtitle">ABOUT US</span>

            <h2 class="about__title">
                Achieve Your Fitness Goals With Personalized Workout Programs Designed
            </h2>
            <div class="about-images-mobile">
                <img class="about__image-back-mobile"
                     src="src/img/about/image-back.jpg"
                     alt="Woman practicing yoga on a mat outdoors">
                <img class="about__image-front-mobile"
                     src="src/img/about/image-front.jpg"
                     alt="Woman rolling out a yoga mat">
            </div>
            <p class="about__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua.
            </p>

            <div class="about__button">
                <a class="about__button-item btn btn-secondary" href="/">
                    DISCOVER ALL SERVICES
                </a>
            </div>
        </div>
    </div>
</section>