<section class="facilities">
    <div class="facilities__wrapper container">
        <div class="facilities__image">
            <img class="facilities__image-item"
                 width="500"
                 height="506"
                 src="src/img/facilities/facilities-woman.webp"
                 alt="Woman practicing yoga on a rooftop overlooking the city">
        </div>
        <div class="facilities__text">
            <span class="facilities__subtitle">
                LEARN NOW
            </span>
            <h2 class="facilities__title typography-h2">
                Our Facilities Are Designer To Provide A Comfortable And Motivating Space
            </h2>
            <div class="facilities__image-mobile">
                <img class="facilities__image-item-mobile"
                     width="500"
                     height="506"
                     src="src/img/facilities/facilities-woman.webp"
                     alt="Woman practicing yoga on a rooftop overlooking the city">
            </div>
            <p class="facilities__description typography-p">
                Our state-of-the-art studios are crafted to elevate your workouts and inspire personal growth. Featuring
                light-filled yoga zones with breathtaking views, top-tier equipment, and luxury amenities, we provide
                the ultimate environment for both training and deep relaxation. Every detail ensures you leave feeling
                energized and supported.
            </p>
            <div class="facilities__button">
                <a class="facilities__button-item btn btn-secondary" href="#">GET ALL SERVICES</a>
            </div>
        </div>
    </div>
</section>