<section class="faq" id="faq">
    <div class="faq__wrapper container">
        <div class="faq__title-wrapper">
        <span class="faq__subtitle">
            QUESTION ANSWER
        </span>
            <h2 class="faq__title">
                Frequently Asked Question
            </h2>
            <img class="faq__img"
                 src="src/img/faq/faq-img.jpg"
                 alt="Group of women practicing yoga on the beach">
        </div>
        <div class="faq__content">
            <p class="faq__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <details class="faq__items">
                <summary class="faq__summary">
                    How to get consultation ?
                    <div class="faq__arrow">
                    </div>
                </summary>
                <p class="faq__summary-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </details>
            <details class="faq__items">
                <summary class="faq__summary">
                    Wher The Location ?
                    <div class="faq__arrow">
                    </div>
                </summary>
                <p class="faq__summary-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </details>
            <details class="faq__items">
                <summary class="faq__summary">
                    Can I Choose Trainer ?
                    <div class="faq__arrow">
                    </div>
                </summary>
                <p class="faq__summary-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </details>
            <details class="faq__items">
                <summary class="faq__summary">
                    Office Hour Information ?
                    <div class="faq__arrow">
                    </div>
                </summary>
                <p class="faq__summary-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </details>
        </div>
    </div>

</section>