<section class="gallery" id="gallery">
    <div class="gallery__wrapper container">
        <div class="gallery__text">
            <span class="gallery__subtitle">
                OUR GALLERY
            </span>
            <h2 class="gallery__title">
                Lets Discover Our Daily Activity Of Fitness & Wellness
            </h2>
        </div>
        <div class="gallery__images">
            <img class="gallery__image"
                 src="src/img/gallery/gallery-one.webp"
                 alt="Woman exercising on a yoga mat at home">
            <img class="gallery__image"
                 src="src/img/gallery/gallery-two.webp"
                 alt="Woman stretching during a yoga exercise">
            <img class="gallery__image"
                 src="src/img/gallery/gallery-three.webp"
                 alt="Woman exercising with a yoga block">
            <img class="gallery__image"
                 src="src/img/gallery/gallery-four.webp"
                 alt="Woman exercising with resistance bands">
            <img class="gallery__image"
                 src="src/img/gallery/gallery-five.webp"
                 alt="Woman stretching on a yoga mat">
            <img class="gallery__image"
                 src="src/img/gallery/gallery-six.webp"
                 alt="Woman standing barefoot beside a yoga mat">
        </div>
    </div>
</section>