<section class="statistics">
    <div class="statistics__wrapper container">
        <h2 class="visually-hidden">OUR STATISTICS</h2>
        <ul class="statistics__list">
            <li class="statistics__list-item">
                    <span class="statistics__list-number">
                        859
                    <sup class="statistics__item">
                        +
                    </sup>
                    </span>
                <span class="statistics__list-text">Daily Activity</span>
            </li>
            <li class="statistics__list-item">
                    <span class="statistics__list-number">
                        689
                        <sup class="statistics__item">
                            +
                        </sup>
                    </span>
                <span class="statistics__list-text">Total Members</span>
            </li>
            <li class="statistics__list-item">
                    <span class="statistics__list-number">
                        69
                        <sup class="statistics__item">
                            +
                        </sup>
                    </span>
                <span class="statistics__list-text">Branch Center</span>
            </li>
            <li class="statistics__list-item">
                    <span class="statistics__list-number">
                        49
                        <sup class="statistics__item">
                            +
                        </sup>
                    </span>
                <span class="statistics__list-text">Our Trainers</span>
            </li>
        </ul>
    </div>
</section>