.facilities {
    background-color: var(--background-surface-Fill-color);
    padding-top: var(--spacing-8xl);
    padding-bottom: var(--spacing-8xl);
}

@media (max-width: 1024px) {
    .facilities {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

@media (max-width: 830px) {
    .facilities {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.facilities__wrapper {
    display: flex;
    gap: var(--spacing-6xl);
}

@media (max-width: 1024px) {
    .facilities__wrapper {
        gap: var(--gap-l);
    }
}

.facilities__image {
    flex: 0 0 40%;
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {
    .facilities__image {
        flex: 0 0 50%;
    }
}

@media (max-width: 830px) {
    .facilities__image {
        display: none;
    }
}

.facilities__image-item {
    border-radius: var(--radius-xl);
    width: 100%;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .facilities__image-item {
        width: 98%;
        height: 370px;
    }
}

.facilities__image-mobile {
    display: none;
}

@media (max-width: 830px) {
    .facilities__image-mobile {
        display: block;
    }
}

.facilities__image-item-mobile {
    border-radius: var(--radius-xl);
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: center 20%;
}

.facilities__text {
    flex: 1;
    width: 100%;
}

.facilities__subtitle {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-xs);
    letter-spacing: 0.06em;
    color: var(--text-textAccent-color-number);
}

.facilities__title {
    margin: 0;
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-3xs);
}

@media (max-width: 1024px) {
    .facilities__title {
        padding-bottom: 0;
    }
}

@media (max-width: 830px) {
    .facilities__title {
        padding-bottom: var(--spacing-xl);
    }
}

.facilities__description {
    margin: 0;
    padding: var(--spacing-2xl) var(--spacing-2xl) var(--spacing-2xl) 0;
}

@media (max-width: 1024px) {
    .facilities__description {
        padding: var(--spacing-xl) 0;
    }
}

@media (max-width: 830px) {
    .facilities__description {
        padding: var(--spacing-m) 0;
    }
}