.services {
    background-color: var(--background-surface-Fill-color);
    padding-top: var(--spacing-8xl);
    padding-bottom: var(--spacing-8xl);
    display: flex;

    @media (max-width: 1024px) {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    @media (max-width: 830px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.services__top {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.services__subtitle {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-xs);
    color: var(--text-textAccent-color-number);
    letter-spacing: 6%;
}

.services__title {
    padding-inline: 200px;
    margin: var(--spacing-sm) 0 var(--spacing-5xl);

    @media (max-width: 1123px) {
        padding-inline: 100px;
    }

    @media (max-width: 709px) {
        padding-inline: 0;
    }
}

.services__cards {
    display: flex;
    gap: var(--gap-l);
    padding-bottom: var(--spacing-5xl);
    margin-bottom: 56px;
}

.services__card,
.services__card-one {
    background-color: var(--background-surface-Fill-color);
    border-radius: var(--radius-l);
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: var(--spacing-2xl) 0;
    box-shadow: 0 0 16px 0 #00000026;
    width: 288px;
    height: 352px;
    flex-shrink: 0;
    overflow: hidden;
}

.services__card-one {
    background-color: var(--backgroung-main-color);
}

.services__card-icon-wrapper,
.services__card-icon-wrapper-one {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-surface-Fill2-color);
    border-radius: var(--radius-xxl);
    width: 76px;
    height: 76px;
    margin: 0 auto;
}

.services__card-icon-wrapper-one {
    border-radius: var(--radius-l);
}

.services__card-icon {
    object-fit: contain;
    width: 100%;
}

.services__card-title {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-large);
    line-height: var(--line-height-xxl);
    color: var(--text-secondary-color);
    padding-inline: var(--spacing-2xl);
    margin: var(--spacing-ml) 0 var(--spacing-2xs);
}

.services__card-description {
    margin: 0;
    padding-bottom: var(--spacing-ml);
}

.services__card-more {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-xs);
    letter-spacing: 6%;
    color: var(--text-neutral-color);
    transition: 0.3s;
}

.services__card-more:hover {
    text-decoration: underline;
}

.services__card-more:active {
    color: var(--text-textAccent-color-number);
}

.services__card-more:disabled {
    color: var(--text-color-disables);
}

.services__card-more-icon {
    margin-left: var(--spacing-2xs);
    fill: currentColor;
}
