:root {
    /* text */
    --text-primary-color: #FFFFFF;
    --text-secondary-color: #3F3047;
    --text-tertiary-color: #6E6E6E;
    --text-neutral-color: #98B9AB;
    --text-textAccent-color: #9BC995;


    /* background */
    --backgroung-main-color: #FFFFFF;
    --backgroung-secondary-color: #3F3047;
    --background-surface-Fill-color: #F9F9F9;
    --background-surface-Fill2-color: #9BC995;
    --background-surface-Stroke-color: #DADADA;
    --background-surface-Placeholder-Stroke-color: #9D9D9D;

    /* buttons */
    --button-primary-default-color: #9BC995;
    --button-primary-hover-color: #719E6B;
    --button-primary-pressed-color: #557951;
    --button-primary-disabled-color: #B4BEDA;

    --button-secondary-color: #E6ECFE;
    --button-secondary-hover-color: #88C6AC;
    --button-secondary-active-color: #7CBAA0;
    --button-secondary-disabled-color: #B5DDCC;

    /* checkbox */
    --border-color-checkbox-valid: #9BC995;
    --border-color-checkbox-invalid: #F10909;
    }